* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.Inter {
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}



/* header style st */

.header {
    background-image: url(../Assets/img/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 698px;
}



.navbar-section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}


.header-logo.Inter {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}


.header-btns {
    background-color: #4E47FF;
    color: #ffffff;
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 10px;
}

/* navbar style end */



.benner-section {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-section-title {
    font-size: 65px;
    font-weight: bold;
    text-align;
    text-align: center;
    padding: 45px;
}


.banner-section-btns {
    background-color: #4E47FF;
    color: #ffffff;
    padding: 15px 45px;
    outline: none;
    border: none;
    border-radius: 10px;
}


/* header style st */

/* action-section-style-st */

.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 115px 0px;
}


.action-section-title {
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}

.action-section-pera {
    color: #a3a5ae;
    font-size: 24px;
    font-weight: 400;
    padding: 23px 0px;
}

.action-section-inner-img img {
    height: 328px;
    width: 403px;
    border-radius: 48px;
}


/* action-section-style-end */