* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;    
  font-family: "Raleway", sans-serif;
}

.Inter {
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}



/* header style st */

.header {
    background-image: url(../Assets/img/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 698px;
}



.navbar-section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}


.header-logo.Inter {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}


.header-btns {
    background-color: #4E47FF;
    color: #ffffff;
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 10px;
}

/* navbar style end */



.benner-section {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-section-title {
    font-size: 65px;
    font-weight: bold;
    text-align;
    text-align: center;
    padding: 45px;
}


.banner-section-btns {
    background-color: #4E47FF;
    color: #ffffff;
    padding: 15px 45px;
    outline: none;
    border: none;
    border-radius: 10px;
}


/* header style st */

/* action-section-style-st */

.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 115px 0px;
}


.action-section-title {
    color: #252432;
    font-size: 42px;
    font-weight: bold;
}

.action-section-pera {
    color: #a3a5ae;
    font-size: 24px;
    font-weight: 400;
    padding: 23px 0px;
}

.action-section-inner-img img {
    height: 328px;
    width: 403px;
    border-radius: 48px;
}


/* action-section-style-end */



/* Productive-section-style-st */

.Productive-Users-section {
    margin: 115px 0px;
    height: 306px;
    background-color: #e5e7ff;
    border-radius: 24px;
}

.Productive-Users-section-title {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.Productive-Users-section-inner {
    display: flex;
    justify-content: space-around;
}

.Productive-section {
    padding: 50px 80px;
}

.Productive-card-title {
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}


.productive-pera {
    color: #858694;
    font-size: 20px;
    font-weight: 400;
}


/* Productive-section-style-end */

/* users-say-section-style-st */

.users-say-section-title {
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.users-say-section-card {
    display: flex;
    gap: 24px;
}

.users-say-section {
    margin-bottom: 137px;
}

.users-say-section-title {
    margin-bottom: 50px;
}


.users-say-card {
  background-color: #fafcff;
  padding: 24px;
  border-radius: 10px;
  max-width: 366.67px;
  font-family: 'Inter', sans-serif;
  box-shadow: rgba(242, 237, 237, 1);
}


.stars-icon {
    margin-bottom: 24px;
}

.users-say-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111827; 
}

.users-say-text {
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 24px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  object-fit: cover;
}

.reviewer-info .name {
  font-weight: 600;
  font-size: 14px;
  color: #1f2937; /* gray-800 */
  display: block;
}

.reviewer-info .date {
  font-size: 12px;
  color: #9ca3af; 
}

/* users-say-section-style-end */




/* Ready-to-focus-section-style-st */


.Ready-to-focus-section-aling {
    border-radius: 14px;
    background-color: #ffffff;
    height: 696.77px;
    text-align: center;
    margin-bottom: 135px;
}

.Ready-to-focus-section-inner {
    padding: 70px 150px;
}

.Ready-to-focus-section-title {
    color: #000000;
    font-size: 50px;
    font-weight: bold;
}

.Ready-to-focus-section-sub-title {
    color: rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    font-size: 16px;
    font-weight: 400;
}

.Ready-to-focus-section-img img {
    margin-top: 20px;
    border-radius: 48px;
}

/* Ready-to-focus-section-style-end */



